<div class="MenuHomePage" id="appp">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{{ routes.home }}">
        <img src="./assets/images/D-logo.PNG" class="ImgLogoHomePage" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerMenuHomePage"
        aria-controls="navbarTogglerMenuHomePage"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerMenuHomePage">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">Tutorial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ routes.login }}">
              <i class="bi bi-box-arrow-in-right"></i>
              SignIn
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="">
              <i class="bi bi-cart2"></i>
              <span class="translate-middle badge rounded-pill bg-danger">
                99
              </span></a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img src="./assets/images/userIcon.jpg" class="IconUserProfile" />
              User Name
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="bi bi-grid-3x3-gap-fill text-success"></i>
                  Dashboard</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="bi bi-person-fill-gear text-success"></i>
                  Profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="bi bi-box-arrow-left text-danger"></i> SignOut</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<main class="app-content">
  <router-outlet />
</main>

<footer></footer>
